.button--blue {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3273dc;
  color: #3273dc;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--blue:hover {
  color: #fff;
  background-color: #3273dc;
}
